<!DOCTYPE html>
<html lang="en" ng-cloak class="h-100">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="src/angular.min.js" defer></script>
    <script type="text/javascript" src="src/shim.min.js" defer></script>
    <script type="text/javascript" src="src/xlsx.full.min.js" defer></script>
    <script type="text/javascript" src="src/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="src/modules/tagsService.js" defer></script>
    <script type="text/javascript" src="src/modules/tags.js" defer></script>
    <script type="text/javascript" src="src/index.js" defer></script>
    <title>Tags loader</title>
</head>

<body ng-controller="TagsCtrl">
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="border rounded p-3 m-3">
                    <div class="form-group mb-3">
                        <label>Lns adres oraz port: <input type="text" ng-model="form.ip" class="form-control" id="ip"/></label>
                    </div>
                    <div class="form-group mb-3">
                        <label>Jwt: <input type="text" ng-model="form.jwt" class="form-control" id="jwt" required/></label>
                    </div>
                    <div class="form-group">
                        <label>Plik:<br><input type="file" id="file_xlsx" class="form-control" name="file_xlsx" accept=".xlsx"/></label>
                    </div>
                    <div class="border form-check mt-4">
                        <label class="form-check-label p-2">Aktualizuj tagi <input class="form-check-input" type="checkbox" ng-model="form.updateProperties.updateTags"  id="update_tags"></label><br>
                        <label class="form-check-label p-2">Aktualizuj deviceProfile <input class="form-check-input" type="checkbox" ng-model="form.updateProperties.updateDeviceProfile"  id="update_deviecProfile"></label>
                    </div>
                    <div class="form-check mt-4">
                        <label class="form-check-label" ng-class="{'text-muted' : !form.updateProperties.updateTags}">Wyczyść istniejące tagi<input class="form-check-input" ng-disabled="!form.updateProperties.updateTags" type="checkbox" ng-model="form.updateProperties.overrideTags"  id="override_tags"></label>
                    </div>
                </form>
                <div class="ms-3 mt-2" ng-class="{'text-danger': form.validationHasError===true, 'text-success': form.validationHasError===false}">
                    Walidacja danych:<br>
                    <span ng-repeat="validationInfo in form.validateInfo">
                        {{$index + 1}}. {{validationInfo.msg}}<br>
                    </span>
                </div>
                <button class="btn btn-primary ms-3 mt-2" ng-click="form.process()">Process</button>
            </div>
            <div class="col">
                <div ng-show="form.dataWasSend" class="mt-3">
                    <h4>Status wykonania zmian (L. zadań: {{form.requests.length}})</h4>
                    <div class="alert alert-info mt-2" role="alert">
                        Wykonano: {{form.status.total}}
                    </div>
                    <div class="alert alert-success" role="alert">
                        Success: {{form.status.success}}
                    </div>
                    <div class="alert alert-danger d-flex justify-content-between py-2 align-items-center" role="alert">
                        Error: {{form.status.error}} <button class="btn btn-light" ng-click="form.showErrorLog()">Wyświetl log</button>
                    </div>    
                </div>
            </div>
        </div>
        <div class="row border rounded p-3 mx-3 mt-4" ng-if="form.displayErrorLog">
            <div class="d-flex justify-content-end"><p class="d-block" style="cursor:pointer" ng-click="form.displayErrorLog = false">&#x2715</p></div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">devEui</th>
                    <th scope="col">Message</th>
                    <th scope="col">On</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="error in form.errorLogs">
                    <th scope="row">{{$index + 1}}</th>
                    <td>{{error.device}}</td>
                    <td>{{error.msg}}</td>
                    <td>{{error.reqType}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="row fixed-bottom bg-light border-top d-flex justify-content-between"><div class="m-2 w-auto">Kamil Sienica</div><div class="m-2 w-auto">ver. 0.3 | 22.10.2021</div></div>
    </div>
</body>

</html>

